{{!-- ============================================================
     CONFLUENCE ESSENCE OPTIONS LIST
     Used for dropdowns for Confluence Essences.
     Each <option> value is a lowercase ID.
     Display text is the proper Confluence Essence name.
     ============================================================ --}}

<optgroup label="Confluence Essences">
  <option value="abyss">Abyss</option>
  <option value="action">Action</option>
  <option value="alchemy">Alchemy</option>
  <option value="ambush">Ambush</option>
  <option value="animate">Animate</option>
  <option value="anzu">Anzu</option>
  <option value="arsenal">Arsenal</option>
  <option value="avatar">Avatar</option>
  <option value="battlefield">Battlefield</option>
  <option value="behemoth">Behemoth</option>
  <option value="boundary">Boundary</option>
  <option value="bounty">Bounty</option>
  <option value="cataclysm">Cataclysm</option>
  <option value="chaotic">Chaotic</option>
  <option value="charlatan">Charlatan</option>
  <option value="chimera">Chimera</option>
  <option value="cyborg">Cyborg</option>
  <option value="cycle">Cycle</option>
  <option value="dawn">Dawn</option>
  <option value="desolate">Desolate</option>
  <option value="discordant">Discordant</option>
  <option value="doom">Doom</option>
  <option value="doppelganger">Doppelganger</option>
  <option value="dragon">Dragon</option>
  <option value="eclipse">Eclipse</option>
  <option value="edifice">Edifice</option>
  <option value="effigy">Effigy</option>
  <option value="empower">Empower</option>
  <option value="fertile">Fertile</option>
  <option value="fey">Fey</option>
  <option value="firebird">Firebird</option>
  <option value="force">Force</option>
  <option value="forge">Forge</option>
  <option value="fortress">Fortress</option>
  <option value="garuda">Garuda</option>
  <option value="gate">Gate</option>
  <option value="glimeron">Glimeron</option>
  <option value="gravity">Gravity</option>
  <option value="gorgon">Gorgon</option>
  <option value="griffin">Griffin</option>
  <option value="guardian">Guardian</option>
  <option value="harpy">Harpy</option>
  <option value="harvest">Harvest</option>
  <option value="hydra">Hydra</option>
  <option value="immortal">Immortal</option>
  <option value="juggernaut">Juggernaut</option>
  <option value="karmic">Karmic</option>
  <option value="kraken">Kraken</option>
  <option value="leviathan">Leviathan</option>
  <option value="lotus">Lotus</option>
  <option value="magitech">Magitech</option>
  <option value="manticore">Manticore</option>
  <option value="master">Master</option>
  <option value="ministration">Ministration</option>
  <option value="minotaur">Minotaur</option>
  <option value="mirage">Mirage</option>
  <option value="monolith">Monolith</option>
  <option value="mystic">Mystic</option>
  <option value="nebula">Nebula</option>
  <option value="nemesis">Nemesis</option>
  <option value="oasis">Oasis</option>
  <option value="ocean">Ocean</option>
  <option value="onslaught">Onslaught</option>
  <option value="phantasmagoria">Phantasmagoria</option>
  <option value="phoenix">Phoenix</option>
  <option value="predatory">Predatory</option>
  <option value="prison">Prison</option>
  <option value="prosperity">Prosperity</option>
  <option value="refracting">Refracting</option>
  <option value="resonating">Resonating</option>
  <option value="roc">Roc</option>
  <option value="sacrifice">Sacrifice</option>
  <option value="scribe">Scribe</option>
  <option value="serpent">Serpent</option>
  <option value="simulacrum">Simulacrum</option>
  <option value="skirmish">Skirmish</option>
  <option value="sky">Sky</option>
  <option value="soaring">Soaring</option>
  <option value="sovereign">Sovereign</option>
  <option value="stellar">Stellar</option>
  <option value="storm">Storm</option>
  <option value="succubus">Succubus</option>
  <option value="swarm">Swarm</option>
  <option value="talisman">Talisman</option>
  <option value="thunderbird">Thunderbird</option>
  <option value="time">Time</option>
  <option value="tranquil">Tranquil</option>
  <option value="transfiguration">Transfiguration</option>
  <option value="transgression">Transgression</option>
  <option value="troll">Troll</option>
  <option value="twilight">Twilight</option>
  <option value="undeath">Undeath</option>
  <option value="unity">Unity</option>
  <option value="verdant">Verdant</option>
  <option value="vessel">Vessel</option>
  <option value="vision">Vision</option>
  <option value="volcano">Volcano</option>
  <option value="vortex">Vortex</option>
  <option value="weave">Weave</option>
  <option value="wendigo">Wendigo</option>
  <option value="wrath">Wrath</option>
  <option value="ziz">Ziz</option>
</optgroup>

