{{!-- ============================================================
     ESSENCE OPTIONS LIST
     Used in dropdowns for Primary Essences.
     Organized by rarity for readability.
     Each <option> value is the lowercase ID used in the system.
     Display text is the proper name.
     ============================================================ --}}

{{!-- ======================== COMMON ========================== --}}
<optgroup label="Common">
  <option value="adept">Adept</option>
  <option value="ape">Ape</option>
  <option value="air">Air</option>
  <option value="armour">Armour</option>
  <option value="axe">Axe</option>
  <option value="bat">Bat</option>
  <option value="bear">Bear</option>
  <option value="bee">Bee</option>
  <option value="bird">Bird</option>
  <option value="bow">Bow</option>
  <option value="cage">Cage</option>
  <option value="cat">Cat</option>
  <option value="cattle">Cattle</option>
  <option value="chain">Chain</option>
  <option value="cloth">Cloth</option>
  <option value="coral">Coral</option>
  <option value="crocodile">Crocodile</option>
  <option value="deer">Deer</option>
  <option value="dog">Dog</option>
  <option value="duck">Duck</option>
  <option value="earth">Earth</option>
  <option value="eye">Eye</option>
  <option value="feast">Feast</option>
  <option value="fire">Fire</option>
  <option value="fish">Fish</option>
  <option value="flea">Flea</option>
  <option value="foot">Foot</option>
  <option value="fork">Fork</option>
  <option value="fox">Fox</option>
  <option value="frog">Frog</option>
  <option value="fungus">Fungus</option>
  <option value="goat">Goat</option>
  <option value="grazen">Grazen</option>
  <option value="gun">Gun</option>
  <option value="hair">Hair</option>
  <option value="hammer">Hammer</option>
  <option value="hand">Hand</option>
  <option value="heidel">Heidel</option>
  <option value="hook">Hook</option>
  <option value="horse">Horse</option>
  <option value="hunt">Hunt</option>
  <option value="iron">Iron</option>
  <option value="knife">Knife</option>
  <option value="lizard">Lizard</option>
  <option value="locust">Locust</option>
  <option value="magic">Magic</option>
  <option value="manatee">Manatee</option>
  <option value="might">Might</option>
  <option value="monkey">Monkey</option>
  <option value="mouse">Mouse</option>
  <option value="needle">Needle</option>
  <option value="net">Net</option>
  <option value="octopus">Octopus</option>
  <option value="pangolin">Pangolin</option>
  <option value="paper">Paper</option>
  <option value="plant">Plant</option>
  <option value="rabbit">Rabbit</option>
  <option value="rake">Rake</option>
  <option value="rat">Rat</option>
  <option value="sceptre">Sceptre</option>
  <option value="shark">Shark</option>
  <option value="shield">Shield</option>
  <option value="ship">Ship</option>
  <option value="shovel">Shovel</option>
  <option value="sickle">Sickle</option>
  <option value="skunk">Skunk</option>
  <option value="sloth">Sloth</option>
  <option value="snake">Snake</option>
  <option value="spear">Spear</option>
  <option value="spider">Spider</option>
  <option value="spike">Spike</option>
  <option value="staff">Staff</option>
  <option value="swift">Swift</option>
  <option value="sword">Sword</option>
  <option value="technology">Technology</option>
  <option value="thread">Thread</option>
  <option value="tooth">Tooth</option>
  <option value="trap">Trap</option>
  <option value="tree">Tree</option>
  <option value="trowel">Trowel</option>
  <option value="turtle">Turtle</option>
  <option value="vehicle">Vehicle</option>
  <option value="wasp">Wasp</option>
  <option value="water">Water</option>
  <option value="whale">Whale</option>
  <option value="wheel">Wheel</option>
  <option value="whip">Whip</option>
  <option value="wind">Wind</option>
  <option value="wolf">Wolf</option>
  
  {{!-- Unknown rarity placed into Common (best match) --}}
  <option value="brush">Brush</option>
  <option value="feeble">Feeble</option>
  <option value="lurker">Lurker</option>
  <option value="wood">Wood</option>
</optgroup>


{{!-- ======================== UNCOMMON ========================== --}}
<optgroup label="Uncommon">
  <option value="balance">Balance</option>
  <option value="blood">Blood</option>
  <option value="bone">Bone</option>
  <option value="claw">Claw</option>
  <option value="cloud">Cloud</option>
  <option value="cold">Cold</option>
  <option value="dance">Dance</option>
  <option value="dark">Dark</option>
  <option value="death">Death</option>
  <option value="dust">Dust</option>
  <option value="flesh">Flesh</option>
  <option value="glass">Glass</option>
  <option value="growth">Growth</option>
  <option value="ice">Ice</option>
  <option value="knowledge">Knowledge</option>
  <option value="life">Life</option>
  <option value="light">Light</option>
  <option value="lightning">Lightning</option>
  <option value="mirror">Mirror</option>
  <option value="pure">Pure</option>
  <option value="sand">Sand</option>
  <option value="smoke">Smoke</option>
  <option value="song">Song</option>
  <option value="venom">Venom</option>
</optgroup>


{{!-- ======================== RARE ============================= --}}
<optgroup label="Rare">
  <option value="crystal">Crystal</option>
  <option value="deep">Deep</option>
  <option value="echo">Echo</option>
  <option value="gathering">Gathering</option>
  <option value="hunger">Hunger</option>
  <option value="moon">Moon</option>
  <option value="resolute">Resolute</option>
  <option value="serene">Serene</option>
  <option value="star">Star</option>
  <option value="sun">Sun</option>
  <option value="zeal">Zeal</option>

  {{!-- Unknown rarity placed here (appropriate for power level) --}}
  <option value="blight">Blight</option>
</optgroup>


{{!-- ======================== EPIC ============================= --}}
<optgroup label="Epic">
  <option value="corrupt">Corrupt</option>
  <option value="discord">Discord</option>
  <option value="elemental">Elemental</option>
  <option value="harmonic">Harmonic</option>
  <option value="malign">Malign</option>
  <option value="omen">Omen</option>
  <option value="potent">Potent</option>
  <option value="renewal">Renewal</option>
  <option value="rune">Rune</option>
  <option value="shimmer">Shimmer</option>
  <option value="tentacle">Tentacle</option>
  <option value="wing">Wing</option>
</optgroup>


{{!-- ======================== LEGENDARY ========================= --}}
<optgroup label="Legendary">
  <option value="dimension">Dimension</option>
  <option value="myriad">Myriad</option>
  <option value="sin">Sin</option>
  <option value="vast">Vast</option>
  <option value="visage">Visage</option>
  <option value="void">Void</option>
</optgroup>

