<div class="subtabs essence-subtabs">
  <button type="button"
          class="subtab-btn active"
          data-subtab="ess1">
    Essence 1
  </button>

  <button type="button"
          class="subtab-btn"
          data-subtab="ess2">
    Essence 2
  </button>

  <button type="button"
          class="subtab-btn"
          data-subtab="ess3">
    Essence 3
  </button>

  <button type="button"
          class="subtab-btn"
          data-subtab="confluence">
    Confluence
  </button>
</div>

