<!-- ============================================================
     Essence Selection Subtab
     This displays 3 Primary Essence dropdowns + 1 Confluence
   ============================================================ -->

<div class="essence-select-container">

  <!-- ================= ESSENCE 1 ================= -->
  <div class="essence-select-block">
    <label for="essence-e1">Essence 1</label>
    <select name="system.essences.e1.itemId">
      {{> "systems/hwfwm-d20/templates/actors/parts/subtabs/abilities/essence-options.hbs"}}
    </select>
  </div>

  <!-- ================= ESSENCE 2 ================= -->
  <div class="essence-select-block">
    <label for="essence-e2">Essence 2</label>
    <select name="system.essences.e2.itemId">
      {{> "systems/hwfwm-d20/templates/actors/parts/subtabs/abilities/essence-options.hbs"}}
    </select>
  </div>

  <!-- ================= ESSENCE 3 ================= -->
  <div class="essence-select-block">
    <label for="essence-e3">Essence 3</label>
    <select name="system.essences.e3.itemId">
      {{> "systems/hwfwm-d20/templates/actors/parts/subtabs/abilities/essence-options.hbs"}}
    </select>
  </div>

  <!-- ================= CONFLUENCE ESSENCE ================= -->
  <div class="essence-select-block">
    <label for="essence-confluence">Confluence Essence</label>

    {{!-- 
      NOTE: This dropdown will eventually be FILTERED based on the 
            combination of e1 + e2 + e3 
            AND it will be GM-locked unless override enabled.
    --}}
    <select name="system.essences.confluence.itemId">
      {{> "systems/hwfwm-d20/templates/actors/parts/subtabs/abilities/essence-options.hbs"}}
    </select>
  </div>

</div>
