<!-- ===================== TAB: ABILITIES ===================== -->
<div class="tab abilities" data-group="primary" data-tab="abilities">

  <section class="card abilities-root">
    <h2>Abilities</h2>

    {{!-- ===================== SUBTAB BUTTONS ===================== --}}
    {{> "systems/hwfwm-d20/templates/actors/parts/subtabs/abilities/essence-subtabs.hbs"}}

    {{!-- ===================== SUBTAB: ESSENCE SELECT ===================== --}}
    <div class="subtab essence-subtab active" data-subtab="essences">
      {{> "systems/hwfwm-d20/templates/actors/parts/subtabs/abilities/essence-select.hbs"}}
    </div>

    {{!-- ===================== SUBTAB: ESSENCE DETAILS ===================== --}}
    <div class="subtab essence-subtab" data-subtab="details">
      {{> "systems/hwfwm-d20/templates/actors/parts/subtabs/abilities/essence-details.hbs"}}
    </div>

    {{!-- ===================== SUBTAB: ESSENCE RULES ===================== --}}
    <div class="subtab essence-subtab" data-subtab="rules">
      {{> "systems/hwfwm-d20/templates/actors/parts/subtabs/abilities/essence-rules.hbs"}}
    </div>

  </section>

</div>
