{{!-- STATS TAB WRAPPER: Attributes | Status subtabs --}}

<section class="card hwfwm-stats-wrapper">

  <nav class="sheet-tabs tabs" data-group="stats">
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="status">Status</a>
  </nav>

  <section class="tab-body" style="margin-top:8px;">

    <div class="tab active" data-group="stats" data-tab="attributes">
      {{> "systems/hwfwm-d20/templates/actors/parts/subtabs/stats/attributes.hbs"
          actor=actor
          system=system }}
    </div>

    <div class="tab" data-group="stats" data-tab="status">
      {{> "systems/hwfwm-d20/templates/actors/parts/subtabs/stats/status.hbs"
          actor=actor
          system=system
          showWillpower=showWillpower }}
    </div>

  </section>
</section>
